/*Cores*/
.verde{
    background-color: #538135;
}
.sem-borda{
  border:none;
  border-radius:0;
  margin-bottom:0;
}
.navbar-default {
  background-color: #3a2f0b;
  border-color: #2ba344;
}
.navbar-default .navbar-brand {
  color: #dae0e1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #f1f9f1;
}
.navbar-default .navbar-text {
  color: #dae0e1;
}
.navbar-default .navbar-nav > li > a {
  color: #dae0e1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #f1f9f1;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #3a2f0b;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #dae0e1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #f1f9f1;
  background-color: #2ba344;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
  background-color: #2ba344;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #f1f9f1;
  background-color: #2ba344;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #f1f9f1;
  background-color: #2ba344;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #f1f9f1;
  background-color: #2ba344;
}
.navbar-default .navbar-toggle {
  border-color: #2ba344;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #2ba344;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #dae0e1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #dae0e1;
}
.navbar-default .navbar-link {
  color: #dae0e1;
}
.navbar-default .navbar-link:hover {
  color: #f1f9f1;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #dae0e1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #f1f9f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #f1f9f1;
    background-color: #2ba344;
  }
}
/* cadastro link*/
.cadastro { 
  color: #fff; 
  text-decoration: none;
  font-size: 1.5em;
}
.cadastro:hover{
  color: rgba(255,255,255,0.5); 
  text-decoration: none;
}
/*card produto*/
.card-produto{
  margin-top: 10px;
  box-shadow: 1px 2px 10px rgb(0, 0, 0);
  border-radius: 5px;
  border: 1px solid rgb(43, 163, 68);
  margin-right:15px 
}
.card-corpo{
  padding: 13px; text-align: center;
}
.card-texto{
  font-size: 1.2em
}




/*adestramento*/
.adestramento{
  background-color: #8dcdcc; text-align: justify;
}
.adestramento div >.left{
  float: left;
  padding-top: 2%;
  width: 60%;
}
.adestramento div >.right{
  float: right; 
  padding-top: 2%; 
  width: 60%;
}

/* ajustes*/
.text-center{
  text-align: center;
}
.text-just{
  text-align: justify;
}
.space-bottom{
  margin-bottom:5%; 
}
.space{
  margin:10%;
}











/*area contato*/
.menu-footer{
  background-color: rgba(83,129,53,0.5);
}
.menu-footer li{
  background-color: rgba(83,129,53,0.5);
 
}
.menu-footer li:hover{
  background-color: rgba(83,129,53,0.5);  
}

.menu-footer li a{
  color: rgba(255,255,255,0.5);
  background-color: rgba(83,129,53,0.5);
}
.menu-footer li a:hover{
   color: rgba(255,255,255,1);
   background-color: rgba(83,129,53,0.5);
}




.contato,.rede-social{
  text-align: center;
}
.contato .copy{
  color:#3a2f0b;
}


.rede-social h3{
  color:#fff;
  margin-left: 2px;
}
.rede-social ul{
  list-style: none;
}
.rede-social li{
  display: inline-block;
}
.rede-social a{
  font-size: 2em;
  color:rgba(255,255,255,0.1);
}
.rede-social a:hover{
  font-size: 2em;
  color:rgba(255,255,255,1);
}
